apiVersion: v1
kind: Secret
metadata:
  name: ddns-secret
  namespace: cloudflare-ddns
type: Opaque
data:
  EMAIL: <base64 encoded cloudflare account email address>
  API_KEY: <base64 encoded cloudflare account api key>
  ZONE: <base64 encoded cloudflare zone (domain)>
